@import "/home/greg/.config/waybar/waybar.css";

* {
    background-color: @background;
    color: @foreground;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: 'FiraCode Nerd Font Mono';
    font-size: 13px;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#custom-menu {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#cpu {
    margin-right: 5px;
    font-size: 14px;
}

#battery {
    margin-right: 15px;
}

#pulseaudio {
    margin-right: 15px;
    font-size: 14px;
}

#tray {
    margin-right: 15px;
    font-size: 12px;
}

#bluetooth {
    margin-right: 15px;
    font-size: 14px;
}

#network {
    margin-right: 15px;
    font-size: 14px;
}

#memory {
    margin-right: 15px;
    font-size: 14px;
}

#battery {
    margin-right: 15px;
    font-size: 14px;
}

#custom-expand-icon {
    margin-right: 15px;
    font-size: 14px;
}

tooltip {
    padding: 2px;
}

#clock {
    margin-left: 8.75px;
}

.hidden {
    opacity: 0;
}


