* {
  font-family: "FiraCode Nerd Font Mono";
  font-size: 12pt;
}

window {
  margin: 1px;
  border: 5px solid #EAEAEA88;
  border-radius: 7px;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-bottom: 0px solid #EAEAEA;
  background-color: #121212;
  color: #EAEAEA;
}

#inner-box {
  margin: 5px;
  background-color: #121212;
}

#outer-box {
  margin: 3px;
  padding: 20px;
  background-color: #121212;
  border-radius: 10px;
}

#text {
  margin: 5px;
  color: #EAEAEA;
}

#entry:selected {
  background-color: #B91C1C;
}

#text:selected {
  text-decoration-color: #EAEAEA;
}
